body {
    font-family: "Montserrat", "sans-serif";
    margin: 0;
    color: #2c3e50;
}

header {
    color: whitesmoke;
}

nav {
    justify-content: space-between;
    font-size: 150%;
    padding: 16px;
    background-color: #2c3e50;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

h1 {
    margin-bottom: 10px; 
    font-size: 400%;
    font-weight: 600;
}

h2 {
    margin-bottom: 10px; 
    font-size: 350%;
    font-weight: 600;
}

h3 {
    font-size: 150%;
    font-weight: 300;
}

h4 {
    font-size: 110%;
}

img {
    width: 100%;
    height: 100%;
}
